<a 
  [routerLink]="[contact.id]"
  routerLinkActive="active"
  class="list-group-item clearfix">
    <div class="pull-left" style="display: flex; align-items: center; height: 50px;">
      <h4 class="list-group-item-heading" style="margin: 0; line-height: 1.2;  font-size: 2.1rem;">
        {{ contact.name }}
      </h4>
    </div>
    <!-- Here placing image -->
    <span class="pull-right">
      <img
        [src]="contact.imageUrl"
        alt="{{ contact.name }}"
        class="img-responsive"
        style="max-height: 50px"
      />
    </span>
  </a>